<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atqgh.mapper.SysDictTypeMapper">

	<!-- 结果集映射 -->
    <resultMap id="sysDictTypeMap" type="com.atqgh.dto.SysDictTypeDto" >
        <result property="id" column="id"/>
        <result property="dictName" column="dict_name"/>
        <result property="dictType" column="dict_type"/>
        <result property="status" column="status"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <!-- 结果集映射 -->
    <resultMap id="sysDictTypeDetailMap" type="com.atqgh.dto.SysDictTypeDto" >
        <result property="id" column="id"/>
        <result property="dictName" column="dict_name"/>
        <result property="dictType" column="dict_type"/>
        <result property="status" column="status"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <!-- 字段分片 -->
    <sql id="Base_Column_List">
        id,
        dict_name,
        dict_type,
        status,
        create_by,
        create_time,
        update_by,
        update_time,
        remark
    </sql>

    <!-- 字段分片 -->
    <sql id="Base_Column_Detail">
        id,
        dict_name,
        dict_type,
        status,
        create_by,
        create_time,
        update_by,
        update_time,
        remark
    </sql>

    <!-- 分页字段分片 -->
    <sql id="Base_Column_Page">
        id AS id,
        dict_name AS dictName,
        dict_type AS dictType,
        status AS status,
        create_by AS createBy,
        create_time AS createTime,
        update_by AS updateBy,
        update_time AS updateTime,
        remark AS remark
    </sql>

</mapper>